<button routerLink='/user' class="btn2">Back to login</button>
<div class="t1">
    <table class="table">
           
   
       <thead>
           <th>ID</th>
           <th>Name </th>
            <th>Email </th>
            <th>Type of User</th>
            <th>age</th>
            <th>city</th>
            
            
       </thead>
       
                    <td>2</td>
                    <td>abc</td>
                   <td>abc@gmail.com</td>
                   <td>regular</td>
                   <td>25</td>
                   <td>solapur</td>
                   
                   </table>
               </div>