<button routerLink='/user' class="btn2">Back to login</button>
<div class="t1">
 <table class="table">
        

    <thead>
        <th>ID</th>
        <th>Name </th>
         <th>Email </th>
         <th>Type of User</th>
         <th>age</th>
         <th>city</th>
         
         
    </thead>
    
                 <td>1</td>
                 <td>pratiksha</td>
                <td>prshindepatil@gmail.com</td>
                <td>regular</td>
                <td>22</td>
                <td>Akluj</td>
                
                </table>
            </div>