<body>
  <div class="register">
    <div class="sidebar">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <br><br><br>
      
        <p class="p1">&nbsp;  <button id="btn1" class="nav-item nav-link" routerLink="admin"><i class="fa fa-check" aria-hidden="true"></i> </button>
         &nbsp; &nbsp;</p> <br><br><br>
         
         <p class="p3">admin</p>
        <p class="p2" ><button id="btn2"  routerLink="user"><i class="fa fa-check" aria-hidden="true" (click)="onSubmit()"></i> </button>&nbsp; &nbsp;</p> <br><br><br>
        <p class="p4">Employee</p>
        
        
        
      
      
      
      
    </div>
  </div>
  
  
  <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
  </div>
  </body>
  