<div class="register">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <form  #f="ngForm" class="form">
        <h1> Empolyee Data </h1><br>
        <div class="Form-group">
            <input type="text" id="id " [(ngModel)]="id" name="id" placeholder="id" class="form-control" required/><br><br>
        </div>

        <div class="Form-group">
            <input type="text" id="name " [(ngModel)]="name" name="name" placeholder="name" class="form-control"  required/><br><br>
        </div>

        
        <div class="Form-group">
            <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="email"class="form-control"  required /><br><br>
        </div>
        <div class="Form-group">
            <input type="text" id="typeofuser" [(ngModel)]="typeofuser" name="typeofuser" placeholder="typeofuser" class="form-control" required/><br><br>
        </div>
        <div class="Form-group">
            <button id="btn3" type="button" class="btn btn-primary" (click)="onSubmit(f)" [disabled]="!f.valid" routerLink="/data">save</button>
        </div>

        
    </form>
</div>







